<style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {font-size: 16px;}

  h3 {
    font-size:30px;
    letter-spacing: 3px;
  }

  a {
      color: #ffffff;
      text-decoration: none;
  }

  a:hover
  {
       color:#00A0C6;
       text-decoration:none;
       cursor:pointer;
  }

  .margin {margin-bottom: 45px;}

  /*Welcome Banner*/
  .banner {
    background-color: #7bb38dff;
    color: #ffffff;
  }

  /*Short-Bio*/
  .bio {
    background-color: #badabfff;
    color: #555555;
  }

  /*Projects*/
  .projects {
    background-color: #7bb38dff;
    color: #ffffff;
  }

  /*Footer*/
  .footer {
    background-color: #f8f8f8ff;
    color: #555555;
  }
  .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
    padding-bottom: 1rem;
  }

  #socialbar {
    border:1px solid #cecece;
    padding-top: 50px;
  }
  .icon:hover
  {
    opacity: .5;
       /* color:#00A0C6;
       text-decoration:none;
       cursor:pointer; */
  }

  .container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
</style>
